In [2]:
import pandas as pd
import glob

In [3]:
dtype_dict = {
    11: str,
    13: str,
    57: str,
    78: str,
    85: str,
    86: str,
    93: str
}
#Combinining All the dataset of 2022 in one csv.
# Folder path
folder_path = "Dataset/2022/"

# File extension
file_extension = "*.csv"

# Retrieve file paths
file_paths = glob.glob(folder_path + file_extension)

# Initialize an empty list to store the datasets
datasets = []

# Read and append each CSV file to the datasets list
for file_path in file_paths:
    try:
        dataset = pd.read_csv(file_path,dtype=dtype_dict)
        datasets.append(dataset)
    except pd.errors.EmptyDataError:
        print(f"Empty CSV file: {file_path}")

# Check if any datasets are found
if len(datasets) == 0:
    print("No datasets found.")

# Concatenate all datasets
dataset_2022 = pd.concat(datasets,ignore_index=True)

# Print the combined dataset
dataset_2022.head(10)

/var/folders/ns/41ddq7k52x11_1f3_004md3h0000gn/T/ipykernel_64635/2396658415.py:26: DtypeWarning: Columns (94) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(file_path,dtype=dtype_dict)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,2,6,27,1,2022-06-27,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,2,6,28,2,2022-06-28,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,2,6,29,3,2022-06-29,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,2,6,30,4,2022-06-30,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,2,6,1,3,2022-06-01,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2022,2,6,2,4,2022-06-02,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2022,2,6,3,5,2022-06-03,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2022,2,6,4,6,2022-06-04,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2022,2,6,5,7,2022-06-05,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2022,2,6,6,1,2022-06-06,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [4]:
dtype_dict = {
    11: str,
    13: str,
    57: str,
    78: str,
    85: str,
    86: str,
    93: str
}
#Combinining All the dataset of 2022 in one csv.
# Folder path
folder_path = "Dataset/2021/"

# File extension
file_extension = "*.csv"

# Retrieve file paths
file_paths = glob.glob(folder_path + file_extension)

# Initialize an empty list to store the datasets
datasets = []

# Read and append each CSV file to the datasets list
for file_path in file_paths:
    try:
        dataset = pd.read_csv(file_path,dtype=dtype_dict)
        datasets.append(dataset)
    except pd.errors.EmptyDataError:
        print(f"Empty CSV file: {file_path}")

# Check if any datasets are found
if len(datasets) == 0:
    print("No datasets found.")

# Concatenate all datasets
dataset_2021 = pd.concat(datasets,ignore_index=True)

# Print the combined dataset
dataset_2021.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2021,2,6,1,2,2021-06-01,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [5]:
dtype_dict = {
    11: str,
    13: str,
    57: str,
    78: str,
    85: str,
    86: str,
    93: str
}
#Combinining All the dataset of 2022 in one csv.
# Folder path
folder_path = "Dataset/2020/"

# File extension
file_extension = "*.csv"

# Retrieve file paths
file_paths = glob.glob(folder_path + file_extension)

# Initialize an empty list to store the datasets
datasets = []

# Read and append each CSV file to the datasets list
for file_path in file_paths:
    try:
        dataset = pd.read_csv(file_path,dtype=dtype_dict)
        datasets.append(dataset)
    except pd.errors.EmptyDataError:
        print(f"Empty CSV file: {file_path}")

# Check if any datasets are found
if len(datasets) == 0:
    print("No datasets found.")

# Concatenate all datasets
dataset_2020 = pd.concat(datasets,ignore_index=True)

# Print the combined dataset
dataset_2020.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2020,2,6,13,6,2020-06-13,AS,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [6]:
dtype_dict = {
    11: str,
    13: str,
    57: str,
    78: str,
    85: str,
    86: str,
    93: str
}
#Combinining All the dataset of 2022 in one csv.
# Folder path
folder_path = "Dataset/2019/"

# File extension
file_extension = "*.csv"

# Retrieve file paths
file_paths = glob.glob(folder_path + file_extension)

# Initialize an empty list to store the datasets
datasets = []

# Read and append each CSV file to the datasets list
for file_path in file_paths:
    try:
        dataset = pd.read_csv(file_path,dtype=dtype_dict)
        datasets.append(dataset)
    except pd.errors.EmptyDataError:
        print(f"Empty CSV file: {file_path}")

# Check if any datasets are found
if len(datasets) == 0:
    print("No datasets found.")

# Concatenate all datasets
dataset_2019 = pd.concat(datasets,ignore_index=True)

# Print the combined dataset
dataset_2019.head(10)

/var/folders/ns/41ddq7k52x11_1f3_004md3h0000gn/T/ipykernel_64635/1170844568.py:26: DtypeWarning: Columns (94) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(file_path,dtype=dtype_dict)
/var/folders/ns/41ddq7k52x11_1f3_004md3h0000gn/T/ipykernel_64635/1170844568.py:26: DtypeWarning: Columns (94) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(file_path,dtype=dtype_dict)
/var/folders/ns/41ddq7k52x11_1f3_004md3h0000gn/T/ipykernel_64635/1170844568.py:26: DtypeWarning: Columns (94,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(file_path,dtype=dtype_dict)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2019,2,6,1,6,2019-06-01,F9,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [7]:
dtype_dict = {
    11: str,
    13: str,
    57: str,
    78: str,
    85: str,
    86: str,
    93: str
}
#Combinining All the dataset of 2022 in one csv.
# Folder path
folder_path = "Dataset/2018/"

# File extension
file_extension = "*.csv"

# Retrieve file paths
file_paths = glob.glob(folder_path + file_extension)

# Initialize an empty list to store the datasets
datasets = []

# Read and append each CSV file to the datasets list
for file_path in file_paths:
    try:
        dataset = pd.read_csv(file_path,encoding='latin1',dtype=dtype_dict)
        datasets.append(dataset)
    except pd.errors.EmptyDataError:
        print(f"Empty CSV file: {file_path}")

# Check if any datasets are found
if len(datasets) == 0:
    print("No datasets found.")

# Concatenate all datasets
dataset_2018 = pd.concat(datasets,ignore_index=True)

# Print the combined dataset
dataset_2018.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2018,2,6,28,4,2018-06-28,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2018,2,6,29,5,2018-06-29,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2018,2,6,30,6,2018-06-30,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2018,2,6,1,5,2018-06-01,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2018,2,6,2,6,2018-06-02,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2018,2,6,3,7,2018-06-03,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2018,2,6,4,1,2018-06-04,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2018,2,6,5,2,2018-06-05,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2018,2,6,6,3,2018-06-06,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2018,2,6,7,4,2018-06-07,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [10]:
# Combine the all 5 datasets
dataset = pd.concat([dataset_2018, dataset_2019, dataset_2020,dataset_2021,dataset_2022], ignore_index=True)
dataset

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2018,2,6,28,4,2018-06-28,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2018,2,6,29,5,2018-06-29,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2018,2,6,30,6,2018-06-30,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2018,2,6,1,5,2018-06-01,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2018,2,6,2,6,2018-06-02,AA,AA,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33638827,2022,3,8,10,3,2022-08-10,AA,AA_CODESHARE,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
33638828,2022,3,8,16,2,2022-08-16,AA,AA_CODESHARE,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
33638829,2022,3,8,17,3,2022-08-17,AA,AA_CODESHARE,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
33638830,2022,3,8,18,4,2022-08-18,AA,AA_CODESHARE,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
33638831,2022,3,8,19,5,2022-08-19,AA,AA_CODESHARE,19805.0,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [11]:
dataset.to_csv("UncleanDataset.csv")

In [13]:
column_names = dataset.columns
print("Column Names:")
for column_name in column_names:
    print(column_name)

Column Names:
Year
Quarter
Month
DayofMonth
DayOfWeek
FlightDate
Marketing_Airline_Network
Operated_or_Branded_Code_Share_Partners
DOT_ID_Marketing_Airline
IATA_Code_Marketing_Airline
Flight_Number_Marketing_Airline
Originally_Scheduled_Code_Share_Airline
DOT_ID_Originally_Scheduled_Code_Share_Airline
IATA_Code_Originally_Scheduled_Code_Share_Airline
Flight_Num_Originally_Scheduled_Code_Share_Airline
Operating_Airline
DOT_ID_Operating_Airline
IATA_Code_Operating_Airline
Tail_Number
Flight_Number_Operating_Airline
OriginAirportID
OriginAirportSeqID
OriginCityMarketID
Origin
OriginCityName
OriginState
OriginStateFips
OriginStateName
OriginWac
DestAirportID
DestAirportSeqID
DestCityMarketID
Dest
DestCityName
DestState
DestStateFips
DestStateName
DestWac
CRSDepTime
DepTime
DepDelay
DepDelayMinutes
DepDel15
DepartureDelayGroups
DepTimeBlk
TaxiOut
WheelsOff
WheelsOn
TaxiIn
CRSArrTime
ArrTime
ArrDelay
ArrDelayMinutes
ArrDel15
ArrivalDelayGroups
ArrTimeBlk
Cancelled
CancellationCode
Diverted
CRSElapsedTime
ActualElapsedTime
AirTime
Flights
Distance
DistanceGroup
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
FirstDepTime
TotalAddGTime
LongestAddGTime
DivAirportLandings
DivReachedDest
DivActualElapsedTime
DivArrDelay
DivDistance
Div1Airport
Div1AirportID
Div1AirportSeqID
Div1WheelsOn
Div1TotalGTime
Div1LongestGTime
Div1WheelsOff
Div1TailNum
Div2Airport
Div2AirportID
Div2AirportSeqID
Div2WheelsOn
Div2TotalGTime
Div2LongestGTime
Div2WheelsOff
Div2TailNum
Div3Airport
Div3AirportID
Div3AirportSeqID
Div3WheelsOn
Div3TotalGTime
Div3LongestGTime
Div3WheelsOff
Div3TailNum
Div4Airport
Div4AirportID
Div4AirportSeqID
Div4WheelsOn
Div4TotalGTime
Div4LongestGTime
Div4WheelsOff
Div4TailNum
Div5Airport
Div5AirportID
Div5AirportSeqID
Div5WheelsOn
Div5TotalGTime
Div5LongestGTime
Div5WheelsOff
Div5TailNum
Duplicate
Unnamed: 119

In [15]:
# Replace with the actual column names you want to remove
columns_to_remove = [
"DivAirportLandings",
"DivReachedDest",
"DivActualElapsedTime",
"DivArrDelay",
"DivDistance",
"Div1Airport",
"Div1AirportID",
"Div1AirportSeqID",
"Div1WheelsOn",
"Div1TotalGTime",
"Div1LongestGTime",
"Div1WheelsOff",
"Div1TailNum",
"Div2Airport",
"Div2AirportID",
"Div2AirportSeqID",
"Div2WheelsOn",
"Div2TotalGTime",
"Div2LongestGTime",
"Div2WheelsOff",
"Div2TailNum",
"Div3Airport",
"Div3AirportID",
"Div3AirportSeqID",
"Div3WheelsOn",
"Div3TotalGTime",
"Div3LongestGTime",
"Div3WheelsOff",
"Div3TailNum",
"Div4Airport",
"Div4AirportID",
"Div4AirportSeqID",
"Div4WheelsOn",
"Div4TotalGTime",
"Div4LongestGTime",
"Div4WheelsOff",
"Div4TailNum",
"Div5Airport",
"Div5AirportID",
"Div5AirportSeqID",
"Div5WheelsOn",
"Div5TotalGTime",
"Div5LongestGTime",
"Div5WheelsOff",
"Div5TailNum",
"Duplicate",
"Unnamed: 119"    
]

In [16]:
dataset = dataset.drop(columns=columns_to_remove)
dataset

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime
0,2018,2,6,28,4,2018-06-28,AA,AA,19805.0,AA,...,2174.0,9,0.0,129.0,8.0,0.0,0.0,NaN,NaN,NaN
1,2018,2,6,29,5,2018-06-29,AA,AA,19805.0,AA,...,2174.0,9,0.0,21.0,5.0,0.0,6.0,NaN,NaN,NaN
2,2018,2,6,30,6,2018-06-30,AA,AA,19805.0,AA,...,2174.0,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,2,6,1,5,2018-06-01,AA,AA,19805.0,AA,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,2,6,2,6,2018-06-02,AA,AA,19805.0,AA,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33638827,2022,3,8,10,3,2022-08-10,AA,AA_CODESHARE,19805.0,AA,...,473.0,2,0.0,0.0,0.0,0.0,54.0,NaN,NaN,NaN
33638828,2022,3,8,16,2,2022-08-16,AA,AA_CODESHARE,19805.0,AA,...,473.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33638829,2022,3,8,17,3,2022-08-17,AA,AA_CODESHARE,19805.0,AA,...,473.0,2,0.0,0.0,0.0,0.0,28.0,NaN,NaN,NaN
33638830,2022,3,8,18,4,2022-08-18,AA,AA_CODESHARE,19805.0,AA,...,473.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33638831,2022,3,8,19,5,2022-08-19,AA,AA_CODESHARE,19805.0,AA,...,473.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33638832 entries, 0 to 33638831
Data columns (total 73 columns):
 #   Column                                              Dtype
---  ------                                              -----
 0   Year                                                int64
 1   Quarter                                             int64
 2   Month                                               int64
 3   DayofMonth                                          int64
 4   DayOfWeek                                           int64
 5   FlightDate                                          object
 6   Marketing_Airline_Network                           object
 7   Operated_or_Branded_Code_Share_Partners             object
 8   DOT_ID_Marketing_Airline                            float64
 9   IATA_Code_Marketing_Airline                         object
 10  Flight_Number_Marketing_Airline                     int64
 11  Originally_Scheduled_Code_Share_Airline             object
 12  DOT_ID_Originally_Scheduled_Code_Share_Airline      float64
 13  IATA_Code_Originally_Scheduled_Code_Share_Airline   object
 14  Flight_Num_Originally_Scheduled_Code_Share_Airline  float64
 15  Operating_Airline                                   object
 16  DOT_ID_Operating_Airline                            int64
 17  IATA_Code_Operating_Airline                         object
 18  Tail_Number                                         object
 19  Flight_Number_Operating_Airline                     int64
 20  OriginAirportID                                     int64
 21  OriginAirportSeqID                                  int64
 22  OriginCityMarketID                                  int64
 23  Origin                                              object
 24  OriginCityName                                      object
 25  OriginState                                         object
 26  OriginStateFips                                     int64
 27  OriginStateName                                     object
 28  OriginWac                                           int64
 29  DestAirportID                                       int64
 30  DestAirportSeqID                                    int64
 31  DestCityMarketID                                    int64
 32  Dest                                                object
 33  DestCityName                                        object
 34  DestState                                           object
 35  DestStateFips                                       int64
 36  DestStateName                                       object
 37  DestWac                                             int64
 38  CRSDepTime                                          int64
 39  DepTime                                             float64
 40  DepDelay                                            float64
 41  DepDelayMinutes                                     float64
 42  DepDel15                                            float64
 43  DepartureDelayGroups                                float64
 44  DepTimeBlk                                          object
 45  TaxiOut                                             float64
 46  WheelsOff                                           float64
 47  WheelsOn                                            float64
 48  TaxiIn                                              float64
 49  CRSArrTime                                          int64
 50  ArrTime                                             float64
 51  ArrDelay                                            float64
 52  ArrDelayMinutes                                     float64
 53  ArrDel15                                            float64
 54  ArrivalDelayGroups                                  float64
 55  ArrTimeBlk                                          object
 56  Cancelled                                           float64
 57  CancellationCode                                    object
 58  Diverted                                            float64
 59  CRSElapsedTime                                      float64
 60  ActualElapsedTime                                   float64
 61  AirTime                                             float64
 62  Flights                                             float64
 63  Distance                                            float64
 64  DistanceGroup                                       int64
 65  CarrierDelay                                        float64
 66  WeatherDelay                                        float64
 67  NASDelay                                            float64
 68  SecurityDelay                                       float64
 69  LateAircraftDelay                                   float64
 70  FirstDepTime                                        float64
 71  TotalAddGTime                                       float64
 72  LongestAddGTime                                     float64
dtypes: float64(32), int64(21), object(20)
memory usage: 18.3+ GB

In [18]:
column_names = dataset.columns
print("Column Names:")
for column_name in column_names:
    print(column_name)

Column Names:
Year
Quarter
Month
DayofMonth
DayOfWeek
FlightDate
Marketing_Airline_Network
Operated_or_Branded_Code_Share_Partners
DOT_ID_Marketing_Airline
IATA_Code_Marketing_Airline
Flight_Number_Marketing_Airline
Originally_Scheduled_Code_Share_Airline
DOT_ID_Originally_Scheduled_Code_Share_Airline
IATA_Code_Originally_Scheduled_Code_Share_Airline
Flight_Num_Originally_Scheduled_Code_Share_Airline
Operating_Airline
DOT_ID_Operating_Airline
IATA_Code_Operating_Airline
Tail_Number
Flight_Number_Operating_Airline
OriginAirportID
OriginAirportSeqID
OriginCityMarketID
Origin
OriginCityName
OriginState
OriginStateFips
OriginStateName
OriginWac
DestAirportID
DestAirportSeqID
DestCityMarketID
Dest
DestCityName
DestState
DestStateFips
DestStateName
DestWac
CRSDepTime
DepTime
DepDelay
DepDelayMinutes
DepDel15
DepartureDelayGroups
DepTimeBlk
TaxiOut
WheelsOff
WheelsOn
TaxiIn
CRSArrTime
ArrTime
ArrDelay
ArrDelayMinutes
ArrDel15
ArrivalDelayGroups
ArrTimeBlk
Cancelled
CancellationCode
Diverted
CRSElapsedTime
ActualElapsedTime
AirTime
Flights
Distance
DistanceGroup
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
FirstDepTime
TotalAddGTime
LongestAddGTime

In [20]:
columns_to_remove = [
'Marketing_Airline_Network',
'Operated_or_Branded_Code_Share_Partners',
'DOT_ID_Marketing_Airline',
'IATA_Code_Marketing_Airline',
'Flight_Number_Marketing_Airline',
'Originally_Scheduled_Code_Share_Airline',
'DOT_ID_Originally_Scheduled_Code_Share_Airline',
'IATA_Code_Originally_Scheduled_Code_Share_Airline',
'Flight_Num_Originally_Scheduled_Code_Share_Airline',
'OriginAirportSeqID',
'OriginCityMarketID',
'OriginWac',
'DestAirportSeqID',
'DestCityMarketID',
'DepTimeBlk',
'ArrTimeBlk'
]

In [21]:
dataset = dataset.drop(columns=columns_to_remove)
dataset.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,...,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime
0,2018,2,6,28,4,2018-06-28,AA,19805,AA,N945AN,...,2174.0,9,0.0,129.0,8.0,0.0,0.0,NaN,NaN,NaN
1,2018,2,6,29,5,2018-06-29,AA,19805,AA,N926NN,...,2174.0,9,0.0,21.0,5.0,0.0,6.0,NaN,NaN,NaN
2,2018,2,6,30,6,2018-06-30,AA,19805,AA,N842NN,...,2174.0,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,2,6,1,5,2018-06-01,AA,19805,AA,N919NN,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,2,6,2,6,2018-06-02,AA,19805,AA,N820NN,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2018,2,6,3,7,2018-06-03,AA,19805,AA,N935AN,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018,2,6,4,1,2018-06-04,AA,19805,AA,N879NN,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,2,6,5,2,2018-06-05,AA,19805,AA,N960AN,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2018,2,6,6,3,2018-06-06,AA,19805,AA,N826NN,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2018,2,6,7,4,2018-06-07,AA,19805,AA,N806NN,...,529.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
dataset.to_csv("halfcleanDataset.csv")

In [23]:
import pandas as pd

# Assuming you have a DataFrame called 'dataset'
# Replace 'dataset' with the name of your DataFrame

# Set the random seed for reproducibility (optional)
random_seed = 42
# You can change 'random_seed' to any integer for different random samples

# Take a random 5% sample of the data
sampled_dataset = dataset.sample(frac=0.05, random_state=random_seed)

# Print the sampled dataset
sampled_dataset

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,...,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime
25697209,2021,3,9,18,6,2021-09-18,UA,19977,UA,N878UA,...,1154.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27556637,2022,3,7,4,1,2022-07-04,9E,20363,9E,N306PQ,...,633.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9172350,2019,2,5,21,2,2019-05-21,QX,19687,QX,N435QX,...,352.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14833569,2019,3,8,28,3,2019-08-28,DL,19790,DL,N332DN,...,1124.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32240106,2022,4,12,2,5,2022-12-02,UA,19977,UA,N68801,...,1723.0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16656515,2020,1,1,10,5,2020-01-10,AA,19805,AA,N186US,...,632.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30777177,2022,4,10,8,6,2022-10-08,AA,19805,AA,N171US,...,468.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15554844,2020,3,7,31,5,2020-07-31,YV,20378,YV,N918FJ,...,282.0,2,46.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
19753557,2020,3,9,20,7,2020-09-20,AA,19805,AA,N657AW,...,1009.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29244771,2022,1,1,9,7,2022-01-09,WN,19393,WN,N731SA,...,226.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
random_seed = 42
# You can change 'random_seed' to any integer for different random samples

# Take a random 5% sample of the data
sampled_dataset1 = sampled_dataset.sample(frac=0.01, random_state=random_seed)

# Print the sampled dataset
sampled_dataset1

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,...,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime
1315458,2018,3,7,14,6,2018-07-14,OO,20304,OO,N417SW,...,173.0,1,0.0,0.0,54.0,0.0,0.0,NaN,NaN,NaN
15507572,2020,2,6,27,6,2020-06-27,MQ,20398,MQ,N803AE,...,328.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947015,2018,2,5,8,2,2018-05-08,EV,20366,EV,N612QX,...,383.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16500915,2020,1,1,12,7,2020-01-12,AA,19805,AA,N559UW,...,728.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26608427,2021,3,8,15,7,2021-08-15,YX,20452,YX,N410YX,...,258.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17491963,2020,1,3,17,2,2020-03-17,OO,20304,OO,N751SK,...,701.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28277403,2022,2,5,13,5,2022-05-13,NK,20416,NK,N680NK,...,1197.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21772809,2021,2,5,13,4,2021-05-13,WN,19393,WN,N8695D,...,484.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20708240,2021,2,6,6,7,2021-06-06,AS,19930,AS,N283AK,...,1874.0,8,0.0,0.0,23.0,0.0,0.0,NaN,NaN,NaN
30066444,2022,1,3,29,2,2022-03-29,WN,19393,WN,N8713M,...,216.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN